.GuessTaking__container{
    height:98%;
    width:98%;
    /* background-color: #e8f8f7; */
    background-color: #fff;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--danger);
    max-width: 1152px;
    font-family: 'Orbitron', sans-serif;

}

.GuessTaking__image{
    height:40%;
    width: 40%;
    max-width: 300px;
    max-height: 250px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

.GuessTaking__container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:55%;
}

.next-player-container{
    height:35%;
    width:100%;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 1.0rem;
 
}
.next-player-wrapper{
    padding: 5px;
    display:flex;
    height:70%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(226, 222, 222);
}

.next-player-item-1{
    display:flex;
    width:50%;
    align-items: center;
    justify-content: center;
    /* background-color: #CF1512; */
}
.next-player-item-2{
    display:flex;
    width:50%;
    align-items: center;
    justify-content: center;
    /* background-color: #CF1512; */
}
.next-player-item-3{
    display:flex;
    height: 30%;
    /* align-items: center; */
    justify-content: space-evenly;
    padding:10px 0;
    font-weight: bolder;
    /* background-color: blue; */

}

.next-player-item-1 span{
    color:#000
}

.number-buttons-container{
    height:55%;
    width:100%;
    background-color: #000;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* .swal-button{
    width:30%
} */


.swal-button:hover{
    background-color: #000 !important;
}
.swal-button--quit{
    background: linear-gradient(to left, var(--danger), black, var(--danger));
    color: var(--light);
}

.swal-button--viewScore{
    background: linear-gradient(to left, #7cd1f9, black, #7cd1f9);
    color: var(--light);
}

.swal-button--findWinner{
    background: linear-gradient(to left, var(--warning), black, var(--warning));
    color: var(--light);
}

.swal-button--continue{
    background: linear-gradient(to left, var(--primary), black, var(--primary));
    color: var(--light);
}
.swal-title{
    font-size: 20px;
}

.swal-text{
    font-weight: bolder;
}

.swal-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .swal-button-container{
    width:30%
} */

@media screen and (min-width:480px) {
    .next-player-container{
        font-size: 1.3rem;
    }
  
}

@media screen and (min-width:768px){
    .next-player-container{
        font-size: 1.3rem;
        flex-direction: row;
    }
    .next-player-wrapper{
        height: 100%;
        width:70%;
        /* justify-content: space-around; */
        border:none
    }
    .next-player-item-3{
        height: 100%;
        width:30%;
        flex-direction: column;
        border-left: 1.5px solid rgb(226, 222, 222);
        padding-left: 4px;
    }
  
}


/* @media screen and (min-width:600px){
    .action-buttons-wrapper{
        position:absolute;
        flex-direction: row;
        height: 70px;
        right:50%;
        top:80%;
        bottom:0;
        transform: translateX(50%);   
    }
    
}

@media screen and (min-width:769px){
    .Welcome__heading{
        font-size: 8.0rem;
    }
}

@media screen and (min-width:1024px){
    .Welcome__heading{
        font-size: 10rem;
    }
} */
