.GuessTaking__container{
    height:98%;
    width:98%;
    background-color: #e8f8f7;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--danger)

}

.GuessTaking__image{
    height:50%;
    width: 50%;
    max-width: 350px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

.GuessTaking__container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:55%;
}

footer{
    position: absolute;
    bottom:0;
    right:0;
}

.next-player-container{
    height:25%;
    width:100%;
    display:grid;
    grid-template-columns: 35% 30% 35%;
    /* display: flex; */
}
.number-buttons-container{
    height:65%;
    width:100%;
    background-color: #000;
    overflow-y: auto;
}
.next-player-item-2{
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color: #CF1512; */
}
.next-player-item-3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

}

.next-player-item-1 span{
    color:#000
}
