.GuessTaking__container{
    height:98%;
    width:98%;
    background-color: #e8f8f7;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--danger)

}
.GuessTaking__heading{
    font-family: 'Bungee', cursive;
    font-size:4.3rem;
    letter-spacing: 5px;
    word-spacing: 3px;
    background: #121FCF;
    background: linear-gradient(to right, #49cdcb 19%, #CF1512 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}