.GameInfo__container{
    height:98%;
    width:98%;
    background-color: #e8f8f7;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--danger);
    font-weight: bolder;
}

.GameInfo__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:66%;
}