.GameInfo__container{
    height:98%;
    width:98%;
    /* background-color: #e8f8f7; */
    background-color: rgb(10, 9, 9);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--danger);
    font-weight: bolder;
}

.GameInfo__body{
    width: 100%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.GameInfo__wrapper{
    height: 95%;
    width:95%;
    margin-top: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgb(25, 24, 24), -2px -2px 8px rgb(25, 24, 24);
    overflow-y: auto;
}

/* @media screen and (orientation:landscape) {
    .GameInfo__container{
       font-size: 0.7rem;;
    }
    
} */