header{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#CF1512;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: bolder;
    padding: 0 15px;
    padding-bottom: 5px;
    font-family: 'Orbitron', sans-serif;
}

header h1{
    background: linear-gradient(to right, #49cdcb 14%, #CF1512 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

header h4{
    font-style: italic;
    margin-top: 8px;
    font-size: 1.1rem;
    text-align: center;
}

@media screen and (min-width:340px) and (max-width:480px){
    
    header h4{
        font-size: 1.3rem;
    }

    header h1{
      font-size: 3.0rem;
    }
}

@media screen and (min-width:481px){
    
    header h4{
        font-size: 1.6rem;
    }

    header h1{
      font-size: 3.6rem;
    }
}

@media screen and (min-width:769px){
    header h4{
        font-size: 1.8rem;
    }

    header h1{
      font-size: 3.8rem;
    }
}

@media screen and (min-width:1024px){
    header h4{
        font-size: 2.0rem;
    }

    header h1{
      font-size: 4.0rem;
    }
}

