.Navigation__container{
    position: absolute;
    top:0;
    left:0;
    height:50px;
    width:100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #0d0d0d;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Creepster', cursive;

}
.Navigation__wrapper{
    display: flex;
    list-style: none;
    color: var(--primary);
    font-weight: bold;
}

.Navigation__wrapper li{
    margin-left: 10px;
    cursor: pointer;
}
.Navigation__wrapper li:hover{
    color: #ffffffaf;
}