.Navigation__container{
    position: absolute;
    top:0;
    left:0;
    height:50px;
    width:100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #040404;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-family: 'Creepster', cursive;

}
.Navigation__wrapper{
    display: flex;
    list-style: none;
    color: var(--primary);
    font-weight: bold;
}

.Navigation__wrapper li{
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3rem;
  
}
.Navigation__wrapper li:hover{
    color: #ffffffaf;
    /* text-decoration: underline; */
}

@media screen and (min-width:340px) and (max-width:480px){
    
    .Navigation__wrapper li{
        font-size: 1.5rem;
      
    }
}

@media screen and (min-width:481px){
    .Navigation__wrapper li{
        font-size: 1.7rem;
      
    }
  
}

/* @media screen and (orientation: landscape) {

    .Navigation__wrapper li{
        
        font-size: 1.2rem;
      
    }
  } */

