.GameSetup__container{
    height:98%;
    width:98%;
    background-color: #e8f8f7;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--danger)

}

.GameSetup__container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}
.GameSetup__heading{
    margin-bottom: 30px;
    font-size: 2em;
    background: #121FCF;
    background: linear-gradient(to right, #000 60%, #CF1512 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.GameSetup__container h3{
    margin-bottom: 30px;
}
.GameSetup__difficulty{
    width:100%;
    padding: 8px;
    margin-bottom: 15px;
    font-weight: 100;
}
.difficulty-label{
    margin-top:30px;
}
.GameSetup__container label{
    margin-bottom: 5px;
}