.GameSetup__container{
    height:98%;
    width:98%;
    background-color: #e8f8f7;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--danger);
    overflow-y: auto;
}


.GameSetup__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:70%;
    font-family: 'Orbitron', sans-serif;
}

.GameSetup__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray, -2px -2px 4px gray;
    padding-top:20px;
    padding-bottom: 20px;
}


.GameSetup__body form{
    display: flex;
    flex-direction: column;
    width:70%;
    max-width: 400px;
}

.GameSetup__difficulty{
    width:100%;
    padding: 8px;
    margin-bottom: 5px;
    font-weight: 100;
}
.GameSetup__item{
    margin-bottom:5px;
}
.GameSetup__body label{
    margin-bottom: 2px;
    font-size: 1.2rem;
    font-weight: bolder;
}
