.Welcome__container{
    position: relative;
    top:50%;
    left:50%;
    background-color:#000;
    color: #fff;
    transform: translate(-50%, -50%);
    width:80%;
    height:80%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px red, -2px -2px 4px #49cdcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* margin: 0 auto; */
}
.Welcome__heading{
    font-family: 'Bungee', cursive;
    font-size:4.3rem;
    letter-spacing: 5px;
    word-spacing: 3px;
    background: #121FCF;
    background: linear-gradient(to right, #49cdcb 19%, #CF1512 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.Welcome__image{
    height:50%;
    width: 50%;
    max-width: 350px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
}