
.Card__container{
    border-top: 1px ridge rgb(47, 44, 44);
    line-height: 1.5;
    padding-left: 3px;
    padding-top: 3px;
    overflow: auto;
    max-height:100px;
    margin-right:10px
}
.Card__container p{
    /* color:rgb(36, 34, 34); */
    color:#e8f8f7;
 }


.Card__container h6{
    color: var(--danger);
    position:sticky;
    top:1px;
    background-color: #000;
}

li{
    font-size: 1.1rem;
}
